* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --global-font-family: airbnb;
  --global-text-primary: #ffffff;
  --global-text-secondary: #2e266f;
  --global-color-primary: #ffffff;
  --global-color-secondary: #efc81a;
  --global-text-md: 1.8rem;
}

@font-face {
  font-family: airbnb;
  src: url("../../assets/font/AirbnbCereal.otf");
}

/*---------------------P R O F I L E----------------------- */
.margin {
  margin-top: 50px;
}
.profile {
  position: relative;
  width: 17rem;
  height: 20rem;
  flex-direction: column;
  display: flex;
  text-align: center;
  margin-left: 550px;
}

.profile .userProfile {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 8.5rem;
  border: 5px solid rgb(245, 201, 3);
  margin-left: 15px;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 170px;
  border-radius: 15px;
  object-fit: cover;
}

.wrapper img {
  object-fit: cover;
}

.iEdit {
  position: absolute;
  bottom: 5rem;
  right: 2rem;
}

.iEdit:hover {
  bottom: 5rem;
  right: 2rem;
}

.profile h1 {
  margin-top: 1rem;
  font-size: 2rem;
  color: #000;
  font-family: var(--global-font-family);
}

.list:hover {
  border-bottom: 3px solid rgb(238, 194, 0) !important;
}
.titleImage {
  position: absolute;
  width: 40%;
  height: 1%;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  color: white;
  font-size: 25px;
  font-weight: 700;
  padding-left: 10px;
  padding-bottom: 10px;
}

.titlebtn {
  display: flex;
  color: white;
  font-weight: 700;
  justify-content: end;
  margin-top: -13%;
}

@media screen and (max-width: 720px) {
  .profile {
    margin-left: 125px;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    position: relative;
    margin-top: 10rem;
    width: 17rem;
    height: 20rem;
    flex-direction: column;
    display: flex;
    text-align: center;
    margin-left: 170px;
  }
}

@media screen and (max-width: 520px) {
  .profile {
    position: relative;
    margin-top: 3rem;
    width: 17rem;
    height: 20rem;
    flex-direction: column;
    display: flex;
    text-align: center;
    margin-left: 60px;
  }
}
