@font-face {
  font-family: airbnb;
  src: url('../../assets/font/AirbnbCereal.otf');
}

:root {
  --global-font-family: airbnb;
  --font-primary: #2e266f;
  --font-heading: #3f3a3a;
  --background-body: #e5e5e5;
  --grey: #efefef;
  --yellow: #efc81a;
  --yellowHover: #d2ac02;
  --background-navbar: transparent;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--global-font-family);
}

.body {
  font-family: var(--global-font-family);
  background-color: white;
}

.textLanding {
  font-family: var(--global-font-family);
  font-size: 55px;
  color: var(--font-primary);
  font-weight: 500;
  line-height: 80px;
  margin-bottom: 30px;
}

.wrapperImg {
  width: 70%;
  height: 400px;
  border-radius: 15px;
  margin: auto;
  position: relative;
}

.detailImg {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 15px;
}

.wrapperButton {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.buttonSave {
  font-size: 24px;

  width: 40px;
  height: 45px;
  padding: 0;

  border: none;
  border-radius: 10px;
  background-color: var(--yellow);
  color: white;
  margin-right: 10px;
}

.buttonSave:hover {
  background-color: var(--yellowHover);
}

.buttonLike {
  font-size: 24px;

  width: 40px;
  height: 45px;
  padding: 0;

  border: none;
  border-radius: 10px;
  background-color: white;
  color: var(--yellow);
}

.buttonLike:hover {
  color: white;
  background-color: var(--yellow);
}

.buttonStepVideo {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: var(--yellow);
  color: white;

  margin-bottom: 20px;

  font-size: 28px;
}

.formControl {
  background-color: var(--grey);
}

.buttonSend {
  border: none;
  border-radius: 10px;
  background-color: var(--yellow);
  color: white;
  font-size: 14px;
  padding: 8px 80px;
}

@media screen and (max-width: 991px) {
  .textLanding {
    font-family: var(--global-font-family);
    font-size: 40px;
    color: var(--font-primary);
    font-weight: 500;
    line-height: 80px;
    margin-bottom: 30px;
  }

  .wrapperImg {
    width: 100%;
    height: 400px;
    border-radius: 15px;
    margin: auto;
    position: relative;
  }
}
