@font-face {
  font-family: airbnb;
  src: url('../../assets/font/AirbnbCereal.otf');
}

:root {
  --global-font-family: airbnb;
  --font-primary: #2e266f;
  --font-heading: #3f3a3a;
  --background-body: #e5e5e5;
  --grey: #efefef;
  --yellow: #efc81a;
  --yellowHover: #d2ac02;
  --background-navbar: transparent;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--global-font-family);
}

.body {
  font-family: var(--global-font-family);
  background-color: white;
}

.listsComments {
  padding-left: 0;
}

.listComments {
  list-style-type: none;
  margin-bottom: 20px;
}

.wrapperComments {
  display: flex;
  align-items: center;
}

.titleName {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}

.imgComment {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.listComments {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonEdit {
  width: 40px;
  height: 30px;

  border: 1px solid var(--yellow);
  border-radius: 5px;
  background-color: white;
  color: var(--yellow);
  margin: 0 2px;
}

.buttonEdit:hover {
  width: 40px;
  height: 30px;

  border: none;
  border-radius: 5px;
  background-color: var(--yellow);
  color: white;
  margin: 0 2px;
}

.buttonDelete {
  width: 40px;
  height: 30px;

  border: 1px solid rgb(201, 49, 49);
  border-radius: 5px;
  background-color: white;
  color: rgb(201, 49, 49);
  margin: 0 2px;
}

.buttonDelete:hover {
  width: 40px;
  height: 30px;

  border: none;
  border-radius: 5px;
  background-color: rgb(201, 49, 49);
  color: white;
  margin: 0 2px;
}
